<div class='page_title'>マイプロフィール編集</div>
<%= form_for(@user) do |f| %>
  <div class="box_border">
    <div class="page_content">マイプロフィールを作成しましょう！</div>
    <div class='from_area'>
      <%= f.label :name, 'お名前', { class: "require" } %>
      <%= f.text_field :name %>
    </div>
    <div class='from_area'>
      <%= f.label :email, 'メールアドレス', { class: "require" } %>
      <%= f.text_field :email %>
    </div>
    <div class='from_area'>
      <%= f.label :image, 'アイコン画像' %>
      <%= f.file_field :image %>
    </div>
  </div>
  <div class="box_border">
    <div class='from_area'>
      <%= f.label :gender, '性別' %>
      <%= f.select :gender, [['男性', '男性'], ['女性', '女性'], ['その他', 'その他']], { selected: "その他" } %>
    </div>
    <div class='from_area'>
      <%= f.label :profession_id, '職業' %>
      <%= f.select :profession_id, [['エンジニア', 16], ['教師', 13], ['警察官', 3]], { selected: 1 } %>
    </div>
  </div>
  <div class="box_border">
    <p>入力が完了したら「編集を完了する」ボタンをクリック！</p>
    <%= f.submit "編集を完了する" %>
  </div>
<% end %>