<div class="row">
  <div class='title_page col-md-12'><%= t('.title') %></div>
    <% @users.each do |user| %>
      <div class="col-md-3">
        <%= link_to(user, class: "main_area") do %>
          <div><%= user.name %></div>
          <div><%= user.image %></div>
          <div><%= user.profession %></div>
          <div><%= user.gender %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>