<div>
    <div class='title_page'>ユーザー 一覧</div>
    <table>
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>アイコン画像</th>
            <th>職業</th>
            <th>誕生日</th>
            <th>作成日</th>
            <th>更新日</th>
            <th>編集ボタン</th>
            <th>削除ボタン</th>
        </tr>
        <% @users.each do |user| %>
            <tr>
                <td><%= link_to user.id, user %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.image %></td>
                <td><%= user.profession %></td>
                <td><%= user.birthday %></td>
                <td><%= user.created_at %></td>
                <td><%= user.updated_at %></td>
                <td><%= link_to '削除をする', user, method: :delete %></td>
                <td><%= user.updated_at %></td>
            </tr>
        <% end %>
    </table>
</div>