<div>
    <div class='title_page'><%= t('.title') %></div>
    <table>
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>アイコン画像</th>
            <th>職業</th>
            <th>誕生日</th>
            <th>作成日</th>
            <th>更新日</th>
            <th>編集ボタン</th>
            <th>削除ボタン</th>
        </tr>
            <tr>
                <td><%= @user.id %></td>
                <td><%= @user.name %></td>
                <td><%= @user.email %></td>
                <td><%= @user.image %></td>
                <td><%= @user.profession %></td>
                <td><%= @user.birthday %></td>
                <td><%= @user.created_at %></td>
                <td><%= @user.updated_at %></td>
            </tr>
    </table>
</div>
