<!DOCTYPE html>
<html>
  <head>
    <title>Parth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='layouts' class='layouts'>
      <div class='layouts_inner'>
        <div class="notice"><%= notice %></div>
        <div class="alert"><%= alert %></div>
        <%= yield %>
      </div>
    </div>
    <footer>
      <%= render '/shared/footer'%>
    </footer>
  </body>
</html>
